<%- partial('../editor_sidebar') %>
<script>
  // put it here so that it can be used in client js
  var client_tabs = <%- JSON.stringify(tabs) %>;
</script>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ol class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
          <li class='active'>编辑活动</li>
        <% }else{ %>
          <li class='active'><a href='/activity/create'>发布活动</a></li>
        <% } %>
      </ol>
    </div>

    <div class='inner post'>    
      <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <strong><%= edit_error %></strong>
        </div>
      <% } %>

      <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
        <strong><%= error %></strong>
      </div>
      <% }else{ %>
      <% if (typeof(action) !== 'undefined' && action === 'edit') { %>
        <form class="form-horizontal" id='create_topic_form' action='/activity/<%= activity_id %>/edit' method='post'>
      <% } else { %>
        <form class="form-horizontal" id='create_topic_form' action='/activity/create' method='post'>
      <% } %>

          <fieldset>
            <div class="control-group">
              <label id="tab-label" for="tab-value" class="control-label">版块：</label>

              <!--span class="tab-selector">选择版块：</span-->
              <select name="tab" id="tab-value" autofocus>
                <option value="">请选择</option>
                <%
                var tabValue = '';
                if (typeof(tab) !== 'undefined') {
                  tabValue = tab;
                } else if (session.tab && session.tab !== 'undefined') {
                  tabValue = session.tab;
                }

                var activity; // default activity of the board
                for(var key in tabs) {
                %>
                  <option value="<%=key%>" <%= ((tabValue === key) ? (activity=tabs[key][1], 'selected') : '') %> ><%=tabs[key][0]%></option>
                <%}%>
              </select>
            </div>

          <!--活动详细信息-->
          <div class="control-group">
            <label for="title" class="control-label">活动主题*</label>
            <input class="span11" id="title" name='title' type="text" placeholder="" value="<%= typeof(title) !== 'undefined' && title || '' %>" required/>
          </div>

          <div class="control-group">
            <label for="category" class="control-label">活动类型*</label>
            <select id='category' name='category'>
              <option value="">请选择</option>
              <%
                if (typeof category !== 'undefined') { // edit mode, use user input instead of default activity of current board
                  activity = category;
                }

                for(var key in tabs) {
                  var text = tabs[key][1];
                %>
                  <option value="<%=text%>" <%= (activity === text) ? 'selected': '' %>><%=text%></option>
                <%}%>
            </select>
          </div>

          <div class="control-group">
            <label for="repeats" class="control-label">期数*</label>
            <input type="number" id='repeats' name='repeats' min=1 value="<%= typeof(repeats) !== 'undefined' && repeats || '1' %>" required/>
          </div>

          <div class="control-group">
            <label for="total" class="control-label">活动总人数限制*</label>
            <input type="number" id="total" name="total" min=0 value="<%= typeof(total) !== 'undefined' && total || '0' %>" required/>(0 - no limit) 
          </div>

          <div class="control-group">
            <label for="limit" class="control-label">每人报名人数限制*</label>
            <input type="number" id="limit" name="limit" min=1 value="<%= typeof(limit) !== 'undefined' && limit || '1' %>" required/>
          </div>

          <div class="control-group">
            <label for="address" class="control-label">活动地点*</label>
            <input type="text" id='address' name='address' value="<%= typeof(address) !== 'undefined' && address || 'hztc' %>" required/>
          </div>

          <div class="control-group">
            <label for="contact" class="control-label">联系人及方法*</label>
            <input type="text" id="contact" name="contact" value="<%= typeof(contact) !== 'undefined' && contact || 'frank' %>" required/>
          </div>

          <div class="control-group">
            <label for="need_pay" class="control-label">是否俱乐部收费活动*</label>
            <label class="radio inline radio-padding-right"><input type="radio" name="need_pay" value="1"
              <%= (typeof(need_pay) !== 'undefined' && need_pay == true) ? 'checked' : '' %> >&nbsp;Yes</label>
            <label class="radio inline radio-padding-right"><input type="radio" name="need_pay" value="0"
              <%= (typeof(need_pay) === 'undefined' || need_pay !== true) ? 'checked' : '' %> >&nbsp;No</label>
          </div>  

          <div class="control-group" id="4expense" 
            style="<%= (typeof(need_pay) === 'undefined' || need_pay !== true) ? 'display:none;' : ''%>" >
            <label for="expense" class="control-label">活动费用*</label>
              <input type="text" id="expense" name="expense" value="<%= typeof(expense) !== 'undefined' && expense || '0' %>" required/>(格式：会员男/会员女/非会员男/非会员女/超过名额男/超过名额女)
          </div>

          <div class="control-group">
            <label for="start_date" class="control-label">活动开始时间*</label>
            <input type="text" id="start_date" name="start_date" value="<%= typeof(start_date) !== 'undefined' && start_date || '2016/06/20 14:00' %>" required/>
          </div>

          <div class="control-group">
            <label for="end_date" class="control-label">活动结束时间*</label>
            <input type="text" id="end_date" name="end_date" value="<%= typeof(end_date) !== 'undefined' && end_date || '2016/07/20 14:00' %>" required/>
          </div>

          <div class="control-group">
            <label for="regret_date" class="control-label">活动退票截止时间*</label>
            <input type="text" id="regret_date" name="regret_date" value="<%= typeof(regret_date) !== 'undefined' && regret_date || '2016/07/20 14:00' %>" required/>
          </div>

          <div class="control-group">
            <label for="deadline" class="control-label">活动报名截止时间*</label>
            <input type="text" id="deadline" name="deadline" value="<%= typeof(deadline) !== 'undefined' && deadline || '2016/07/20 14:00' %>" required/>
          </div>

          <div class="control-group">            
            <div class='markdown_editor in_editor'>
              <div class='markdown_in_editor'>
                <textarea class='editor2' name='t_content' id='t_content' rows='3' 
                      placeholder='文章支持 Markdown 语法, 请注意标记代码' required
                    ><%= typeof(content) !== 'undefined' && content || 'welcome to test...' %></textarea>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label for="enroll_options" class="control-label">Definition of Enrollment Options*</label>
            <textarea rows="3" id="enroll_options" name="enroll_options"  style="width: 890px;">
              <% var test_option = 
              '[{\"id\": \"citizen_id\", \"type\": \"text\", \"label\":\"ID Number\", \"desc\":\"For insurance\", \"public\": false}, ' +
              //' {\"id\": \"age\", \"type\": \"number\", \"value\": 10},' +
              ' {\"id\": \"participants\", \"label\": \"Participants\", \"type\": \"select\", \"public\": true,' +
              '  \"options\": [' +
              '    {\"price\": 280, \"attendance\": 1, \"value\": \"1 adult\"  },' +
              '    {\"price\": 410, \"attendance\": 1, \"value\": \"1 adult + 1 child\"   },' +
              '    {\"price\": 560, \"attendance\": 2, \"value\": \"1 adult + 1 teenager\"  } ]' +
              ' }]';
              %>
              <%= typeof(enroll_options) !== 'undefined' && enroll_options || test_option %>
            </textarea>
          </div>

          <div class="control-group">
            <div class="controls editor_buttons">
              <input type='hidden' id='topic_tags' name='topic_tags' value=''>
              <input type='hidden' name='_csrf' value='<%= csrf %>'>
              <input type="submit" class='span-primary submit_btn' data-loading-text="提交中"
                       value="Save">
              <input type="reset" class='span-primary submit_btn' value="Reset">
            </div>
          </div>

          </fieldset>
        </form>
    </div>
    <% } %>
  </div>
</div>

<!-- markdown editor -->
<%- partial('../includes/editor') %>
<script>
  (function () {
    $('#start_date').datetimepicker({step:30, minDate:0, });
    $('#end_date').datetimepicker({
      step:30,
      onShow:function( ct ){
        this.setOptions({
          minDate:jQuery('#start_date').val()?jQuery('#start_date').val():false
        })
      },
    });
    $('#regret_date').datetimepicker({step:30, minDate:0, });
    $('#deadline').datetimepicker({step:30, minDate:0, });

    $("input[name$='need_pay']").click(function() {
      if ($(this).val() == '1') {
        document.getElementById('4expense').style.display = "block"; //inline-block
      } else {
        document.getElementById('4expense').style.display = "none";
      }
    });

    // init markdown editor
    var editor = new Editor();
    editor.render($('.editor')[1]);

    // 版块选择的检查，必须选择
    $('#create_topic_form').on('submit', function (e) {
      var tabValue = $('#tab-value').val();
      if (!tabValue) {
        alert('必须选择一个版块！');
        $('.submit_btn').button('reset');
        $('#tab-label').css('color', 'red');
        return false;
      }
    });
    // END 版块选择的检查，必须选择

    // 选择版块时，change default活动类型
    $('#tab-value').on('change', function () {
      var $this = $(this);
      var tab = $this.val();

      //alert('tab: ' + tab + '\nclient_tabs: ' + JSON.stringify(client_tabs) + "\ncatetory: " + client_tabs[tab][1]);

      $('#category').val(client_tabs[tab][1]);

    });
    // END 
  })();
</script>
