<tr reply_item reply_id="<%= enrollment._id %>" >
  <td><%= indexInCollection + 1 %></td>
  <td><%= enrollment.email %></td>
  <!--td><%= enrollment.author.loginname %></td-->
  <td><%= enrollment.contact %></td>

  <% //console.log(">>>enrollment:" + JSON.stringify(enrollment));
  if (enrollment.options.hasOwnProperty('public_fields')) {
    enrollment.options['public_fields'].forEach(function(field) {
      if (enrollment.options.hasOwnProperty(field)) { %>
        <td><%= enrollment.options[field] %></td>
   <% } else { %>
        <td><%= enrollment[field] %></td>
   <% }
    });
  }
  %>

  <td><%= enrollment.balance %></td>
  <td><%= enrollment.create_at %></td>
  <td>
    <% if (current_user && current_user.is_admin ||
    (current_user && current_user._id.toString() == enrollment.author._id.toString())
    ) { %>
        <div class='user_action'>
          <a href='/enrollment/<%= enrollment._id %>/edit' class='edit_reply_btn'>
            <i class="fa fa-pencil-square-o" title='编辑'></i>
          </a>
          <a href='javascript:void(0);' class='delete_enrollment_btn'>
            <i class="fa fa-trash" title='删除'></i>
          </a>
        </div>
    <% } %>
  </td>
</tr>
